@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    /* Texte */
    --foreground: 0 0% 9%; /* Noir */

    /* Couleur de marque – CG Renov */
    --primary: 32 85% 56%; /* #EF8A2E ORANGE entreprise */
    --primary-hover: 32 90% 48%; /* orange plus foncé */

    /* Primary background */
    --primary-bg: 0 0% 100%; /* Blanc */
  }
}
