@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    /* Texte */
    --foreground: 0 0% 9%; /* Noir */

    /* Couleur de marque – CG Renov */
    --primary: 30 83% 55%; /* #EC8C2E ORANGE entreprise */
    --primary-hover: 30 83% 45%; /* orange plus foncé */

    /* Primary background */
    --primary-bg: 0 0% 100%; /* Blanc */
  }
}
